@page
@model ProjetoDivibank.Pages.Clientes.ClientesModel
@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Pages/Shared/Template.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>Clientes</h1>

<form>
    <input id="txtNome" type="text" placeholder="Nome" />
    <input id="txtBirthDate" type="date" placeholder="BirthDate" />
    <button id="btnCadastro">Cadastrar</button>
</form>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab">Visualizar Clientes</a>
        </li>
        <li>
            <a href="#2" data-toggle="tab">Adicionar Clientes</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="1">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Birthdate</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="2">
            <form>
                <input id="txtNome" type="text" placeholder="Nome" />
                <input id="txtBirthDate" type="date" placeholder="BirthDate" />
                <button id="btnCadastro">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $("#btnCadastro").click(function (e) {
        console.info($("#txtNome").val())
        console.info($("#txtBirthDate").val())
        e.preventDefault();
    })
</script>