@code {

}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de entrada</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>